= form_for @login do |f|
  -if @login.errors.any?
    #error_explanation
      %h2= "#{pluralize(@login.errors.count, "error")} prohibited this login from being saved:"
      %ul
        - @login.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :firstName, :class => 'control-label'
    .controls
      = f.text_field :firstName, :class => 'text_field'
  .control-group
    = f.label :lastName, :class => 'control-label'
    .controls
      = f.text_field :lastName, :class => 'text_field'
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  .control-group
    = f.label :company, :class => 'control-label'
    .controls
      = f.text_field :company, :class => 'text_field'
  .form-actions
    = f.submit 'Sign In', :class => 'btn btn-primary'